html {
	font-size: var(document-font-size);
}

html,
body {
	font-family: var(normal-font-stack);
	-webkit-font-smoothing: antialiased;
	font-weight: var(weight-normal);
	text-rendering: optimizeLegibility;
}

kbd,
pre,
samp {
	font-family: var(monospace-font-stack) !important;
	/* -moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto; */
}

code {
	direction: ltr;
	font-family: var(monospace-font-stack);
}

a > code {
	font-family: var(normal-font-stack);
}
