:root,
.theme-light {
    --theme-text: #161616;
    --theme-text-subtle: #505050;
    --theme-text-invert: #fff;
    --theme-text-glow-high-contrast: #171717;
    --theme-box-shadow-light: #0000001c;
    --theme-box-shadow-medium: #00000021;
    --theme-box-shadow-heavy: #0000002e;
    --theme-box-shadow-extra-heavy: #00000038;
    --theme-overlay: #000000b3;
    --theme-overlay-invert: #fff;
    --theme-body-background: #fff;
    --theme-body-background-accent: #e8e6df;
    --theme-body-background-medium: #f2f2f2;
    --theme-alternate-background: #171717;
    --theme-alternate-background-medium: #2f2f2f;
    --theme-card-background: #fff;
    --theme-border: #e6e6e6;
    --theme-border-accent: #e8e6df;
    --theme-border-white-high-contrast: #fff0;
    --theme-border-yellow-high-contrast: #0000;
    --theme-table-header: #e6e6e6;
    --theme-table-row: #f2f2f2;
    --theme-table-row-header: #fafafa;
    --theme-table-border-dark: #d2d2d2;
    --theme-hover-base: #2f2f2f;
    --theme-hover-invert: #fafafa;
    --theme-code-header: #e6e6e6;
    --theme-code-block: #f2f2f2;
    --theme-control-border: #757575;
    --theme-control-border-bottom: #505050;
    --theme-inline-code: #e6e6e6;
    --theme-code-highlight-background: #fff4ce;
    --theme-visited: #624991;
    --theme-score-low-off: #a800004d;
    --theme-score-low: #b62626;
    --theme-score-medium-off: #ffbb004d;
    --theme-score-medium: #ffb900;
    --theme-score-high-off: #489d484d;
    --theme-score-high: #2a8b2a;
    --theme-hyperlink: #0065b3;
    --theme-primary-base: #0078d4;
    --theme-primary-background: #d7eaf8;
    --theme-primary-background-glow-high-contrast: #d7eaf8;
    --theme-primary-dark: #004173;
    --theme-primary-hover: #0065b3;
    --theme-primary-active: #00579a;
    --theme-primary-box-shadow: #0065b34d;
    --theme-primary-invert: #fff;
    --theme-secondary-base: #a2a2a2;
    --theme-secondary-background: #e6e6e6;
    --theme-secondary-background-glow-high-contrast: #e6e6e6;
    --theme-secondary-dark: #2f2f2f;
    --theme-secondary-hover: #d2d2d2;
    --theme-secondary-active: #d2d2d2;
    --theme-secondary-box-shadow: #0000004d;
    --theme-secondary-invert: #000;
    --theme-tertiary-base: #243a5e;
    --theme-tertiary-background: #061329;
    --theme-tertiary-background-glow-high-contrast: #061329;
    --theme-tertiary-dark: #a4b2c9;
    --theme-tertiary-hover: #14294c;
    --theme-tertiary-active: #70819f;
    --theme-tertiary-box-shadow: #26173f4d;
    --theme-tertiary-invert: #fff;
    --theme-success-base: #107c10;
    --theme-success-background: #dff6dd;
    --theme-success-background-glow-high-contrast: #dff6dd;
    --theme-success-dark: #054b16;
    --theme-success-hover: #0b6413;
    --theme-success-active: #054b16;
    --theme-success-box-shadow: #489d484d;
    --theme-success-invert: #fff;
    --theme-info-base: #8661c5;
    --theme-info-background: #efd9fd;
    --theme-info-background-glow-high-contrast: #efd9fd;
    --theme-info-dark: #3b2e58;
    --theme-info-hover: #8661c5;
    --theme-info-active: #624991;
    --theme-info-box-shadow: #2018434d;
    --theme-info-invert: #fff;
    --theme-warning-base: #ffb900;
    --theme-warning-background: #fff4ce;
    --theme-warning-background-glow-high-contrast: #fff4ce;
    --theme-warning-dark: #6a4b16;
    --theme-warning-hover: #d19501;
    --theme-warning-active: #966802;
    --theme-warning-box-shadow: #ffbb004d;
    --theme-warning-invert: #000;
    --theme-danger-base: #a80000;
    --theme-danger-background: #fde7e9;
    --theme-danger-background-glow-high-contrast: #fde7e9;
    --theme-danger-dark: #470001;
    --theme-danger-hover: #870000;
    --theme-danger-active: #630001;
    --theme-danger-box-shadow: #a800004d;
    --theme-danger-invert: #fff;
    --theme-facepile-red: #a80000;
    --theme-facepile-teal: #328e9f;
    --theme-facepile-blue: #0078d4;
    --theme-gradient-text-purple: #702573;
    --theme-gradient-text-blue: #00579a;
    --theme-gradient-vivid-start: #b84dc6;
    --theme-gradient-vivid-end: #0078d4;
}
.theme--dark{
    --theme-text: #e6e6e6;
    --theme-text-subtle: #d2d2d2;
    --theme-text-invert: #2f2f2f;
    --theme-text-glow-high-contrast: #e6e6e6;
    --theme-box-shadow-light: #0000001c;
    --theme-box-shadow-medium: #00000021;
    --theme-box-shadow-heavy: #0000002e;
    --theme-box-shadow-extra-heavy: #00000038;
    --theme-overlay: #000000b3;
    --theme-overlay-invert: #fff;
    --theme-body-background: #171717;
    --theme-body-background-accent: #091f2c;
    --theme-body-background-medium: #2f2f2f;
    --theme-alternate-background: #f2f2f2;
    --theme-alternate-background-medium: #fafafa;
    --theme-border: #404040;
    --theme-border-accent: #505050;
    --theme-border-white-high-contrast: #fff0;
    --theme-border-yellow-high-contrast: #0000;
    --theme-card-background: #091f2c;
    --theme-table-header: #404040;
    --theme-table-row: #2f2f2f;
    --theme-table-row-header: #2f2f2f;
    --theme-table-border-dark: #505050;
    --theme-hover-base: #d2d2d2;
    --theme-hover-invert: #2f2f2f;
    --theme-code-header: #404040;
    --theme-code-block: #2f2f2f;
    --theme-control-border: #d2d2d2;
    --theme-control-border-bottom: #e6e6e6;
    --theme-inline-code: #404040;
    --theme-code-highlight-background: #0b6413;
    --theme-visited: #ac7ee1;
    --theme-score-low-off: #a80000b3;
    --theme-score-low: #b62626;
    --theme-score-medium-off: #ffbb004d;
    --theme-score-medium: #ffcb3f;
    --theme-score-high-off: #489d48b3;
    --theme-score-high: #489d48;
    --theme-hyperlink: #75b6e7;
    --theme-primary-base: #75b6e7;
    --theme-primary-background: #004173;
    --theme-primary-background-glow-high-contrast: #004173;
    --theme-primary-dark: #9ccbee;
    --theme-primary-hover: #278cda;
    --theme-primary-active: #0078d4;
    --theme-primary-box-shadow: #0065b34d;
    --theme-primary-invert: #000;
    --theme-secondary-base: #757575;
    --theme-secondary-background: #404040;
    --theme-secondary-background-glow-high-contrast: #404040;
    --theme-secondary-dark: #e6e6e6;
    --theme-secondary-hover: #8e8e8e;
    --theme-secondary-active: #a2a2a2;
    --theme-secondary-box-shadow: #000000b3;
    --theme-secondary-invert: #fff;
    --theme-tertiary-base: #404040;
    --theme-tertiary-background: #171717;
    --theme-tertiary-background-glow-high-contrast: #171717;
    --theme-tertiary-dark: #e6e6e6;
    --theme-tertiary-hover: #505050;
    --theme-tertiary-active: #757575;
    --theme-tertiary-box-shadow: #0065b34d;
    --theme-tertiary-invert: #fff;
    --theme-success-base: #7cbb7b;
    --theme-success-background: #054b16;
    --theme-success-background-glow-high-contrast: #054b16;
    --theme-success-dark: #dff6dd;
    --theme-success-hover: #489d48;
    --theme-success-active: #7cbb7b;
    --theme-success-box-shadow: #489d48b3;
    --theme-success-invert: #000;
    --theme-info-base: #9970d3;
    --theme-info-background: #3b2e58;
    --theme-info-background-glow-high-contrast: #3b2e58;
    --theme-info-dark: #efd9fd;
    --theme-info-hover: #ac7ee1;
    --theme-info-active: #d59dff;
    --theme-info-box-shadow: #201843b3;
    --theme-info-invert: #000;
    --theme-warning-base: #ffb900;
    --theme-warning-background: #6a4b16;
    --theme-warning-background-glow-high-contrast: #6a4b16;
    --theme-warning-dark: #fff4ce;
    --theme-warning-hover: #ffcb3f;
    --theme-warning-active: #ffdf84;
    --theme-warning-box-shadow: #ffbb00b3;
    --theme-warning-invert: #000;
    --theme-danger-base: #e5a7a8;
    --theme-danger-background: #630001;
    --theme-danger-background-glow-high-contrast: #630001;
    --theme-danger-dark: #fde7e9;
    --theme-danger-hover: #c54f4f;
    --theme-danger-active: #d4797a;
    --theme-danger-box-shadow: #a80000b3;
    --theme-danger-invert: #000;
    --theme-facepile-red: #c54f4f;
    --theme-facepile-teal: #50e6ff;
    --theme-facepile-blue: #278cda;
    --theme-gradient-text-purple: #cd9bcf;
    --theme-gradient-text-blue: #9ccbee;
    --theme-gradient-vivid-start: #b84dc6;
    --theme-gradient-vivid-end: #75b6e7;
}
.theme-high-contrast {
    --theme-text: #fff;
    --theme-text-subtle: #fff;
    --theme-text-invert: #000;
    --theme-text-glow-high-contrast: #ff0;
    --theme-box-shadow-light: #0000001c;
    --theme-box-shadow-medium: #00000021;
    --theme-box-shadow-heavy: #0000002e;
    --theme-box-shadow-extra-heavy: #00000038;
    --theme-overlay: #404040;
    --theme-overlay-invert: #fff;
    --theme-body-background: #000;
    --theme-body-background-accent: #000;
    --theme-body-background-medium: #000;
    --theme-alternate-background: #fff;
    --theme-alternate-background-medium: #fff;
    --theme-border: #fff;
    --theme-border-accent: #fff;
    --theme-border-white-high-contrast: #fff;
    --theme-border-yellow-high-contrast: #ff0;
    --theme-card-background: #000;
    --theme-table-header: #505050;
    --theme-table-row: #000;
    --theme-table-row-header: #171717;
    --theme-table-border-dark: #fff;
    --theme-hover-base: #ff0;
    --theme-hover-invert: #000;
    --theme-code-header: #000;
    --theme-code-block: #000;
    --theme-control-border: #fff;
    --theme-control-border-bottom: #fff;
    --theme-inline-code: #2f2f2f;
    --theme-code-highlight-background: #0b6413;
    --theme-visited: #3cff00;
    --theme-score-low-off: #a80000;
    --theme-score-low: #fde7e9;
    --theme-score-medium-off: #ffbb00b3;
    --theme-score-medium: #ffe79f;
    --theme-score-high-off: #107c10;
    --theme-score-high: #dff6dd;
    --theme-hyperlink: #ff0;
    --theme-primary-base: #ff0;
    --theme-primary-background: #000;
    --theme-primary-background-glow-high-contrast: #ff0;
    --theme-primary-dark: #ff0;
    --theme-primary-hover: #ff3;
    --theme-primary-active: #ff3;
    --theme-primary-box-shadow: #fff;
    --theme-primary-invert: #000;
    --theme-secondary-base: #e6e6e6;
    --theme-secondary-background: #000;
    --theme-secondary-background-glow-high-contrast: #505050;
    --theme-secondary-dark: #e6e6e6;
    --theme-secondary-hover: #d2d2d2;
    --theme-secondary-active: #d2d2d2;
    --theme-secondary-box-shadow: #e6e6e6;
    --theme-secondary-invert: #000;
    --theme-tertiary-base: #fff;
    --theme-tertiary-background: #000;
    --theme-tertiary-background-glow-high-contrast: #fff;
    --theme-tertiary-dark: #fff;
    --theme-tertiary-hover: #e6e6e6;
    --theme-tertiary-active: #e6e6e6;
    --theme-tertiary-box-shadow: #fff;
    --theme-tertiary-invert: #000;
    --theme-success-base: #7cbb7b;
    --theme-success-background: #000;
    --theme-success-background-glow-high-contrast: #7cbb7b;
    --theme-success-dark: #acd7aa;
    --theme-success-hover: #acd7aa;
    --theme-success-active: #acd7aa;
    --theme-success-box-shadow: #fff;
    --theme-success-invert: #000;
    --theme-info-base: #e0b7fe;
    --theme-info-background: #000;
    --theme-info-background-glow-high-contrast: #e0b7fe;
    --theme-info-dark: #efd9fd;
    --theme-info-hover: #efd9fd;
    --theme-info-active: #efd9fd;
    --theme-info-box-shadow: #fff;
    --theme-info-invert: #000;
    --theme-warning-base: #ffe79f;
    --theme-warning-background: #000;
    --theme-warning-background-glow-high-contrast: #ffe79f;
    --theme-warning-dark: #fff4ce;
    --theme-warning-hover: #fff4ce;
    --theme-warning-active: #fff4ce;
    --theme-warning-box-shadow: #fff;
    --theme-warning-invert: #000;
    --theme-danger-base: #e5a7a8;
    --theme-danger-background: #000;
    --theme-danger-background-glow-high-contrast: #e5a7a8;
    --theme-danger-dark: #fde7e9;
    --theme-danger-hover: #fde7e9;
    --theme-danger-active: #fde7e9;
    --theme-danger-box-shadow: #fff;
    --theme-danger-invert: #000;
    --theme-facepile-red: #d4797a;
    --theme-facepile-teal: #7becff;
    --theme-facepile-blue: #75b6e7;
    --theme-gradient-text-purple: #fff;
    --theme-gradient-text-blue: #fff;
    --theme-gradient-vivid-start: #fff;
    --theme-gradient-vivid-end: #fff;
}